factory_boy
pytest-randomly
pytest
pytest-env
pandas-stubs
pyarrow-stubs
types-python-jose
types-passlib
httpx
anyio

alembic
sqlalchemy[asyncio] > 2
asyncpg
fastapi
python-multipart
uvicorn
python-dotenv
pyarrow
pandas
python-jose[cryptography]
passlib[bcrypt]
