factory_boy
pytest-randomly
pytest-xdist
pytest
pandas-stubs
pyarrow-stubs
types-python-jose
types-passlib

alembic
sqlalchemy[asyncio] > 2
asyncpg
fastapi
python-multipart
uvicorn
python-dotenv
pyarrow
pandas
python-jose[cryptography]
passlib[bcrypt]
